<!DOCTYPE HTML>
<html lang="en">
  <head>
  <%=render '/partials/head.erb' %>
  </head>
  <body>
    <%=render '/partials/navbar.erb' %>
    <header class="banner" style="background-image: url(<%= @item[:image] %>)"/>
    <main>
      <%= yield %>
    </main>
    <%=render '/partials/footer.erb' %>
  </body>
  <%=render '/partials/scripts.erb' %>
</html>
